*                           @CloudNationHQ/SG-MDM-GitHub-Azure-Wam
CODEOWNERS                  @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
CHANGELOG.md                @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
release-please.yml          @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
