name: "dependabot auto merge"

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  dependabot-auto-merge:
    uses: cloudnationhq/terraform-azure-workflows/.github/workflows/dependabot-auto-merge.yml@main
    secrets: inherit
